#wrapper {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 10px;
}
article.splited {
    width: 49%;
    align-content: center;
    box-sizing: border-box;
}

.left{
    float : left;
}
.right{
    float : right;
}

.titreContent{
    padding: 0px 8px;
    background-color: lightblue;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin-bottom: 3px;
}


.border {
    border: solid;
    border-color: #000;
    border-width: 3px;
    padding: 10px;
    margin-bottom: 30px;
}


.clear {
    clear: both;
}