body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:lightskyblue ;
}

table{
  background-color: #fff;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

#recherche {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  display: flex;
}

input, select {
  margin-right: 5px;
}

button#rechercher {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  display: block;
}


#resultat table {
  width: 100%;
  border-collapse: collapse;
}

#resultat th, #resultat td {
  padding: 10px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  margin-top: 20px;
}

#bas {
  text-align: center;
  margin-top: 20px;
}

#date_inv {
  position: absolute;
  left: 0;
}

input#date_inv{
  width: 20%;
  padding: 5px;
}

.bouton {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
